{% extends 'base.html' %}

{% block body %}

	<h1>About This Personal Pokemon Database</h1>
	<p>This pokemon database is mainly for Personal Use. It's an online notebook which records the Pokemon information that are competitive in Online Tournament</p>
	<p>If you are passby users, you may only see this page and register page. If you want to see the database infomration,
		please register for a user account, I and other DB adminstrators will look over your request and upgrade your account in one or two
		work days. Thank you for your patience~

	</p>

{% endblock %}
